@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
    /*--background: 255, 255, 255; !* 234, 231, 220*!*/
    --foreground: 0, 0, 0;
    --primary: 50, 50, 50;
    --secondary: 115, 115, 115;
    /*background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);*/
    /*background: linear-gradient(45deg, #ffffff, #e1eaee, #ffffff, #e1eaee);*/
    /*background: linear-gradient(45deg, #d2001a, #7462ff, #f48e21, #23d5ab);*/
    background-size: 600% 600%;
    animation: 10s ease-in-out infinite bg-animate;
}

.dark {
    /*--background: 0, 0, 0; !* 70 69 66*!*/
    --foreground: 100, 100, 100;
    --primary: 255, 255, 255;
    --secondary: 180, 180, 180;
    /*background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);*/
    background: linear-gradient(45deg, #000000, #404040, #000000, #404040);
    background-size: 600% 600%;
    /*animation: 10s ease-in-out infinite bg-animate;*/
}

p.bold {
    font-weight: 700;
}

p.barItem {
    cursor: pointer;
}

/*home*/
div.home {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 200px;
    /*border-bottom-width: 1px;*/
}

p.homeTitle {
    font-size: 150px;
    font-weight: 600;
}

p.homeSubtitle {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.homeButton {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

/*about*/
div.about {
    width: 100%;
    height: 100%;
    /*display: flex;*/
    /*justify-content: center;*/
    /*padding-top: 50px;*/
    padding-bottom: 150px;
    margin: 0 auto;
    padding-top: 50px;
}

p.sectionTitle {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}

.aboutBox {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutContainer {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.aboutBox h2 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.aboutBox p {
    font-size: 15px;
    text-align: center;
}

.aboutIcon {
    padding-bottom: 20px;
}

.aboutIcon2 {
    padding-bottom: 30px;
    margin-top: 10px;
}

/*Projects*/
div.projects {
    width: 100%;
    height: 100vh;
    /*display: flex;*/
    /*justify-content: center;*/
    /*padding-top: 50px;*/
    /*padding-bottom: 200px;*/
    padding-top: 50px;
    margin: 0 auto;
}

p.projSubTitle {
    font-size: 20px;
    font-weight: 250;
    text-align: center;
}

.projContainer {
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

p.projTitle {
    font-size: 15px;
    font-weight: 600;
}

p.projDescription {
    font-size: 15px;
    font-weight: 300;
}

p.projTech {
    font-size: 14px;
    font-weight: 400;
}

/*Experience*/
div.experience {
    width: 100%;
    height: 100vh;
    /*display: flex;*/
    /*justify-content: center;*/
    /*padding-top: 50px;*/
    /*padding-bottom: 200px;*/
    padding-top: 50px;
    margin: 0 auto;
}


.animate-header {
  animation: 1s ease-out 1 animation1;
}

.animate-sub {
    animation: 1s ease-out 1 animation2;
}

@keyframes animation1 {
    0% {
        transform: translateY(40%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes animation2 {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes bg-animate {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}